{% extends 'base.html.twig' %}

{% block body %}
<header class="header-8">
  <div class="container">
    <div class="row">
      <div class="navbar col-sm-12" role="navigation">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle"></button>
          <a class="brand" href="index.html#">
            <img src="http://prorealnost.local.ic/uploads/prorealnost/textlogo-standing-transparent.png" style="margin-top:0; width:255px; height:41px;" alt=""></a>
        </div>
      </div>
    </div>
  </div>
  <div class="header-background"></div>
</header>

{% block content %}{% endblock %}

<footer class="footer-1 bg-midnight-blue">
  <div class="container">
    <div class="row">
      <div class="col-sm-5">
        <p class="lead"><b>Ты</b> можешь больше</p>
        <p><em>«Это было одно из самых важных переживаний в жизни»</em></p>
        <p><em>«Вся жизнь разделилась на до и после»</em></p>
        <p><em>«Я никогда не буду таким как прежде»</em></p>
      </div>
      <nav>
        <div class="col-sm-2 col-sm-offset-1">
          <h6>Категории</h6>
          <ul>
            <li><a href="index.html#">О нас</a>
            </li>
            <li><a href="index.html#">Блог</a>
            </li>
            <li><a href="index.html#">Команда</a>
            </li>
            <li><a href="index.html#">Работа</a>
            </li>
            <li><a href="index.html#">Контакты</a>
            </li>
          </ul>
        </div>
        <div class="col-sm-2">
          <h6>Следуй за нами</h6>
          <ul>
            <li><a href="index.html#">Facebook</a>
            </li>
            <li><a href="index.html#">Twitter</a>
            </li>
            <li><a href="index.html#">Instagram</a>
            </li>
          </ul>
        </div>
      </nav>
      <div class="col-sm-2 buy-btn">
        <a class="btn btn-danger btn-block" href="index.html#">Запишись</a>
        или <a href="{{ path('front_page_show', { 'slug': 'learnmore' }) }}">Узнай Больше</a>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-5 additional-links">
        <a href="index.html#">Оферта</a>
        <a href="index.html#">Политика конфиденциальности</a>
      </div>
    </div>
  </div>
</footer>
{% endblock %}