{% extends 'index.html.twig' %}
{% block content %}
  <!-- content-16 -->
  <section class="content-16 v-center">
    <div>
      <div class="container">
        <h3>Вебинар!</h3>
        <p class="lead">Записывайся скорее</p>
      </div>
    </div>
  </section>
{% endblock %}